/*
 * Layout
 */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 90%;
}

#sp500_image {
    width: 50%;
}

#available_models {
    width: 100%;
}

.name_stocks {
    margin-top: 50px;
}

.num_stocks {
    margin-top: 80px;
}

/*
 * Collapsibles
 */
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;


}

/*
 * Basic CSS
 */

body {
    margin: 0px;
    font-family: Calibri;
}

header {
    margin-bottom: 50px;
}

h1 {
    margin-top: 0px;
}

.subheader {
	padding: 10px;
}

.content_about, .content_how_to_use, .content_contact {
    padding-left: 20px;
}

#sp500_image {
    margin-left: 10px;
}

/*
  Sticky Header
  Taken from: https://www.w3schools.com/howto/howto_js_sticky_header.asp
 */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 102px;
}

hr {
    margin: 0px;
}

li {
    margin-bottom: 5px;
}

.num_stocks, .name_stocks {
    border: solid 2px grey;
}
/*
  Header CSS
  Taken from: https://demo.tutorialzine.com/2015/02/freebie-7-responsive-header-templates/index.html
 */

.header-basic {
	background-color: #292c2f;
	box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
	padding: 20px 40px;
	height: 80px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	font: normal 28px Cookie, Arial, Helvetica, sans-serif;
	line-height: 40px;
	margin: 0;
}

.header-basic .header-limiter h1 span {
	color: #5383d3;
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	opacity: 1;
}

/*
  Footer CSS
  Taken from: https://tutorialzine.com/2015/01/freebie-5-responsive-footer-templates
 */
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;

    padding: 45px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left p{
    color:  #8f9296;
    font-size: 14px;
    margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
    font-size:18px;
    font-weight: bold;
    color:  #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

.footer-distributed p.footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-right{
    float: right;
    margin-top: 6px;
    max-width: 180px;
}

.footer-distributed .footer-right a{
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-left: 3px;
}


